 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <span class="brand-text font-weight-light">Sjekk Kontroll</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/" class="nav-link bg-success">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users" ></i>
            <p>
              Users
              <i class="right fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/users" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/users/create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create user</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-location-arrow" ></i>
            <p>
              Places
              <i class="right fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/places" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All places</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/places/create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create place</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list" ></i>
            <p>
              Rules
              <i class="right fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/rules" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All rules</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/rules/create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create rule</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sign" ></i>
            <p>
              Boards
              <i class="right fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/boards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>All boards</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/boards/create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create board</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
