<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Violations</title>

        <%- include('../components/headers') %>


        <!-- DataTables -->
        <link rel="stylesheet" href="/public/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/public/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/public/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    </head>
    <body>
        <div class="wrapper">  
            <div class="content p-4">
                
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-between align-items-center">
                      <div class="form-group w-100 mr-2">
                        <div class="input-group date" id="startdatetime" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#startdatetime" placeholder="Start Date"/>
                            <div class="input-group-append" data-target="#startdatetime" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group w-100 mr-2">
                      <div class="input-group date" id="enddatetime" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#enddatetime" placeholder="End Date"/>
                          <div class="input-group-append" data-target="#enddatetime" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                  </div> 
                  
                  <div class="input-group w-100 form-group mr-2">
                    <select class="form-control" placeholder="Places" name="places" id="places">
    
                    </select>
                  </div>
                  
                  <button class="btn btn-sm btn-secondary" id="search_logins">SEARCH</button>
                    </div>
    
                    <div class="col-lg-12 mb-4">
                      <div class="float-right">
                        <div class="btn btn-sm btn-primary" id="download-report">
                          Download Report
                        </div>
                      </div>
                    </div>
                
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                              <h3 class="card-title d-flex justify-content-between align-items-center">
                                Brukerdata
                              </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <table id="example1" class="table table-bordered table-striped text-center">
                                <thead>
                                <tr>
                                    <th>Login Time</th>
                                    <th>Logout Time</th>
                                    <th>User</th>
                                    <th>Place</th>
                                </tr>
                                </thead>
                                <tbody id="search-body">
    
                                </tbody>
                              </table>
                            </div>
                            <!-- /.card-body -->
                          </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    <%- include('../components/scripts') %>

    <!-- DataTables  & Plugins -->
    <script src="/public/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/public/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/public/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/public/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/public/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/public/plugins/jszip/jszip.min.js"></script>
    <script src="/public/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/public/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/public/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/public/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/public/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    </body>
</html>